<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ site.title }}</span>

    <img src="/img/headshot.jpg" style="width:150px;height:150px;border-radius:50%;margin-left:40px" alt="Ben Ilegbodu" />

    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Home</a>
      <a class="mdl-navigation__link" href="/about">About</a>
      <a class="mdl-navigation__link" href="/speaking-engagements">Speaking Engagements</a>
      <a class="mdl-navigation__link" href="/learning-es6-series">Learning ES6</a>
    </nav>
</div>
