<footer class="mdl-mini-footer layout-footer">
  <div class="mdl-mini-footer--left-section">
    <ul class="mdl-mini-footer--link-list">
      <li>
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-o fa-2 fa-gray"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/{{ site.username }}">
          <span>
            <i class="fa fa-github fa-2 fa-gray"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/{{ site.username }}">
          <span>
            <i class="fa fa-twitter fa-2 fa-gray"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="/feed.xml">
          <span>
            <i class="fa fa-rss fa-2 fa-gray"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
</footer>
