<footer class="mdl-mini-footer layout-footer">
  <div class="mdl-mini-footer--left-section">
    <ul class="mdl-mini-footer--link-list">
      <li>
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-o fa-2 fa-gray"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/christoga">
          <span>
            <i class="fa fa-github fa-2 fa-gray"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/{{ site.username }}">
          <span>
            <i class="fa fa-twitter fa-2 fa-gray"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/{{ site.username }}">
          <span>
            <i class="fa fa-facebook fa-2 fa-gray"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/{{ site.username }}">
          <span>
            <i class="fa fa-instagram fa-2 fa-gray"></i>
          </span>
        </a>
        <li>
        <a href="https://plus.google.com/+AndreChristoga">
          <span>
            <i class="fa fa-google-plus fa-2 fa-gray"></i>
          </span>
        </a>
      </li>
      </li>
    </ul>
    <h5>&copy; Andre Christoga 2015</h5>
  </div>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="../js/main.js"></script>
</footer>
