<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div class="mdl-layout mdl-layout--fixed-drawer mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">

    {% include header.html %}

    {% include drawer.html %}

    <main class="layout-main mdl-layout__content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                {{ content }}
            </div>
        </div>

      {% include footer.html %}
    </main>

  </div>
  <script defer src="https://code.getmdl.io/1.1.0/material.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.owner.google.analytics }}', 'auto');
      ga('send', 'pageview');

    </script>
  <script id="dsq-count-scr" src="//{{ site.owner.disqus-shortname }}.disqus.com/count.js" async></script>
</body>
</html>
