---
layout: default
---

<div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
  <h1>{{ page.title }}</h1>

  <p class="meta">{{ page.date | date: "%-d %B %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} • <a href="#disqus_thread">Comments</a></p>

  {{ content }}
  <!--
  <div class="mdl-card__actions mdl-card--border" align="center">
  {% for tag in page.tags %}
     <button class="mdl-button mdl-js-button mdl-button--primary">
         <a href="/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a></li>
     </button>
   {% endfor %}
   </div>
   -->

  <div class="mdl-card__actions mdl-card--border" align="center">
                <!-- <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                  Share :
                </a> -->
                <br>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--accent">
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}"><i class="fa fa-facebook"></i></a>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--accent">
                  <a href="https://twitter.com/share?text={{ page.title }} via @{{ site.owner.twitter }}&url={{ page.url | prepend: site.url }}"><i class="fa fa-twitter"></i></a>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--accent">
                  <a href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}"><i class="fa fa-google-plus"></i></a>
                </button>
              </div>
  <section>
    <div id="disqus_thread"></div>
  </section>
</div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/

var disqus_config = function () {
this.page.url = '{{ page.url | prepend: site.url }}'; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//{{ site.owner.disqus-shortname }}.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
